/*
 * Globals
 */

@media (min-width: 48em) {
  html {
    font-size: 24px;
  }
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #A9A9A9;
  font-size: 18px;
}

a {
  text-decoration: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*header*/
.header {
  background-color: #696969;
  color: #A9A9A9;
  width: 100%;
  height: 50px;
}

.header input {
  border: none;
  background-color: transparent;
  border-bottom: 1px dashed #A9A9A9;
  width: 170px;
  padding-top: 16px;
}

.header input:focus {
  border: none;
  outline: none;
}

.panel-header-icons {
  float: right;
}

.panel-header-icons i {
  font-size: 35px;
  padding: 7px 10px 0px 10px;
}

.fa-plus-circle span {
  font-size: 18px;
  }

/*main part*/
.panel-menu-item span:active {
  color: #F0FFF0;
  background-color: #6495ED;
  border: 1px solid #6495ED;
}

.panel-menu-close{
  text-align: right;
}

.panel-menu-close a {
  padding-top: 16px;
  padding-bottom: 20px;
}

.panel-menu {
  padding-top: 20px;
}

.panel-menu a {
  text-decoration: none;
}

.panel-menu-item {
  display: inline-block;
  padding: 15px 8px 15px 8px;
}

.panel-menu-item span {
  color: #708090;
  padding: 10px 20px 10px 20px;
  border: 1px solid #F0F8FF;
  border-radius: 24px;
  background-color: #F0F8FF;
}

.panel-menu-item span:hover {
  border: 1px solid #A9A9A9;
}

.first-line {
  color: #5F9EA0;
  border-style: dashed;
  border-width: 1px;
  height: 0;
}

.panel-kvest {
  padding-top: 10px;
} 

.panel-number {
  padding: 0;
  margin-top: 10px;
  padding-bottom: 10px;
}

.panel-number a {
  text-decoration: none;
}

.panel-kvest-item {
  color: #708090;
  background-color: #F0F8FF;
  border: 1px solid #F0F8FF;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-block;
  text-align: center;
  padding-top: 5px;

}

.panel-kvest-item:hover {
  border: 1px solid #A9A9A9;
}

.panel-kvest-item:active {
  color: #F0FFF0;
  background-color: #6495ED;
  border: 1px solid #6495ED;
  }

.second-line {
  color: #5F9EA0;
  border-style: dashed;
  border-width: 1px;
  height: 0;
}

.panel-setting {
  padding-top: 20px;
}

.panel-setting a {
 text-decoration: none;
}

.setting-escort-item {
  display: inline-block;
}

.setting-escort-item span {
  color: #708090;
  padding: 10px 20px 10px 20px;
  border: 1px solid #F0F8FF;
  border-radius: 24px;
  background-color: #F0F8FF;
}

.setting-escort-item span:hover {
  border: 1px solid #A9A9A9;
}

.setting-escort-item span:active {
  color: #F0FFF0;
  background-color: #6495ED;
  border: 1px solid #6495ED;
}

 .drop-general-list {
  padding-top: 60px;
 }

 .drop-list-item {
  width: 100%;
  height: 50px;
  background-color: #F0F8FF;
  color: #708090;
  font-size: 22px;
  padding-left: 20px;
 }

 .drop-list-item:focus {
  outline: none;
  background-color: #FAEBD7;
  }

  .general-item {
    padding-left: 10px;
  }

  .first-setting {
    text-align: center;
    padding-top: 16px;
  }

  .first-setting a {
    color: #708090;
  }

  .title-kvest {
    width: 100%;
    clear: both;
    float: left;
    padding-bottom: 10px;
  }

  .title-kvest-item {
    width: 100%;
    height: 50px;
    background-color: #F0F8FF;
    margin-top: 10px;
    border:0;
    padding-left: 20px;

  }

  .title {
    width: 100%;
    color: #A9A9A9;
    font-size: 18px;
    padding-top: 20px;
  }

  .title-kvest-item:focus {
    outline: none;
    border: 1px solid #A9A9A9;
  }

  .select-teme {
    margin-top: 50px;
  }

  .teme-item {
    width: 50%;
    height: 50px;
    background-color: #F0F8FF;
  }

  .teme-item:focus {
    outline: none;
    background-color: #FAEBD7;
  }

  .teme-add {
    margin-left: 24px;
    background-color: #6495ED;
    color: white;
    padding: 10px 20px 10px 20px;
    border: 1px solid #F0F8FF;
    border-radius: 24px;
  }

  .teme-add:focus {
    outline: none;
  }

  .teme-add:hover {
    border: 1px solid #A9A9A9;
  }

   


 


/*
 * Override Bootstrap's default container.
 */

.container {
  max-width: 60rem;
  border:0;
  background-color: 

}



