/*
 * Globals
 */

@media (min-width: 48em) {
  html {
    font-size: 24px;
  }
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #A9A9A9;
  font-size: 18px;
}

a {
  text-decoration: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*header*/
.header {
  background-color: #696969;
  color: #A9A9A9;
  width: 100%;
  height: 50px;
}

.header input {
  border: none;
  background-color: transparent;
  border-bottom: 1px dashed #A9A9A9;
  width: 170px;
  padding-top: 16px;
}

.header input:focus {
  border: none;
  outline: none;
}

.panel-header-icons {
  float: right;
}

.panel-header-icons i {
  font-size: 35px;
  padding: 7px 10px 0px 10px;
}

.fa-plus-circle span {
  font-size: 18px;
  }

/*main part*/
.panel-menu-item span:active {
  color: #F0FFF0;
  background-color: #6495ED;
  border: 1px solid #6495ED;
}

.panel-menu-close{
  text-align: right;
}

.panel-menu-close a {
  padding-top: 16px;
  padding-bottom: 20px;
}

.panel-menu {
  padding-top: 20px;
}

.panel-menu a {
  text-decoration: none;
}

.panel-menu-item {
  display: inline-block;
  padding: 15px 8px 15px 8px;
}

.panel-menu-item span {
  color: #708090;
  padding: 10px 20px 10px 20px;
  border: 1px solid #F0F8FF;
  border-radius: 24px;
  background-color: #F0F8FF;
}

.panel-menu-item span:hover {
  border: 1px solid #A9A9A9;
}

.first-line {
  color: #5F9EA0;
  border-style: dashed;
  border-width: 1px;
  height: 0;
}

.panel-kvest {
  padding-top: 10px;
} 

.panel-number {
  padding: 0;
  margin-top: 10px;
  padding-bottom: 10px;
}

.panel-number a {
  text-decoration: none;
}

.panel-kvest-item {
  color: #708090;
  background-color: #F0F8FF;
  border: 1px solid #F0F8FF;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-block;
  text-align: center;
  padding-top: 5px;

}

.panel-kvest-item:hover {
  border: 1px solid #A9A9A9;
}

.panel-kvest-item:active {
  color: #F0FFF0;
  background-color: #6495ED;
  border: 1px solid #6495ED;
  }

.second-line {
  color: #5F9EA0;
  border-style: dashed;
  border-width: 1px;
  height: 0;
}

.panel-setting {
  padding-top: 20px;
}

.panel-setting a {
 text-decoration: none;
}

.setting-escort-item {
  display: inline-block;
}

.setting-escort-item span {
  color: #708090;
  padding: 10px 20px 10px 20px;
  border: 1px solid #F0F8FF;
  border-radius: 24px;
  background-color: #F0F8FF;
}

.setting-escort-item span:hover {
  border: 1px solid #A9A9A9;
}

.setting-escort-item span:active {
  color: #F0FFF0;
  background-color: #6495ED;
  border: 1px solid #6495ED;
}

 .drop-general-list {
  padding-top: 60px;
 }

 .drop-list-item {
  width: 100%;
  height: 50px;
  background-color: #F0F8FF;
  background: url('img/arrow_down.png') right no-repeat;
  background-size: 40px 40px;
  color: #708090;
  font-size: 22px;
  padding-left: 20px;
  appearance:none;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
 }

 .drop-list-item:focus {
  outline: none;
  background-color: #FAEBD7;
  }

  .general-item {
    padding-left: 10px;
  }

  .first-setting {
    text-align: center;
    padding-top: 16px;
  }

  .first-setting a {
    color: #708090;
  }

  .title-kvest {
    width: 100%;
    clear: both;
    float: left;
    padding-bottom: 10px;
  }

  .title-kvest-item {
    width: 100%;
    height: 50px;
    background-color: #F0F8FF;
    margin-top: 10px;
    border:0;
    padding-left: 20px;

  }

  .title {
    width: 100%;
    color: #A9A9A9;
    font-size: 16px;
    padding-left: 20px;
    font-weight: normal;
    color: #008B8B;
    margin-bottom: 8px;
  }

  .title-kvest-item:focus {
    outline: none;
    border: 1px solid #A9A9A9;
  }

  .select-teme {
    margin-top: 50px;
    padding-bottom: 30px;
    padding-right: 10px;
  }

  .teme-item {
    width: 50%;
    height: 50px;
    background-color: #F0F8FF;
    background: url('img/arrow_down.png') right no-repeat;
    background-size: 40px 40px;
    appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    padding-left: 20px;
}

.teme-item:focus {
  outline: none;
  background-color: #FAEBD7;
}

.btn-teme-add {
  margin-left: 10px;
  background-color: #6495ED;
  color: white;
  padding: 10px 20px 10px 5px;
  border: 1px solid #F0F8FF;
  border-radius: 24px;
  margin-left: 20px;
}

.btn-teme-add:focus {
  outline: none;
}

.btn-teme-add:hover {
  border: 1px solid #A9A9A9;s
}

.password-enter {
  width: 50%;
  height: 50px;
  background-color: #F0F8FF;
  margin-top: 10px;
  border:0;
  padding-left: 20px;
}

.password-enter:focus {
  outline: none;
  border: 1px solid #A9A9A9;
}

.detail-setting {
  padding-top: 20px;
}

.first-detail-item {
  width: 100%;
  height: 50px;
  background-color: #F0F8FF;
  border:0;
  padding-left: 20px;
}

.first-detail-item:focus {
  outline: none;
  border: 1px solid #A9A9A9;
}

.video-setting {
  color: #6495ED;
  padding-top: 10px;
  padding-left: 20px;
  margin-bottom: 24px;
}

.add-setting {
padding-top: 24px;
}

.setting-item {
  width: 100%;
  height: 50px;
  background-color: #F0F8FF;
  background: url('img/arrow_down.png') right no-repeat;
  background-size: 40px 40px;
  appearance:none;
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
   padding-left: 20px;
   display: inline-block;
   margin-bottom: 10px;
}

.setting-item:focus {
 outline: none;
 border: 1px solid #A9A9A9;
 background-color: #FAEBD7;
}

.use-item {
  background-color: #FFE4E1;
}

.important-setting {
  width: 100%;
  margin-top: 20px;
}

.title-step {
  width: 100%;
  height: 50px;
  background-color: #F0F8FF;
  margin-top: 10px;
  border:0;
  padding-left: 20px;
  margin-bottom: 10px;
}

.title-step:focus {
  outline: none;
  border: 1px solid #A9A9A9;
}

.title-text {
  height: 150px;
  text-align: left;
  margin-bottom: 24px; 
}

.btn-answer {
  color: #708090;
  padding: 4px 24px 4px 24px;
  border: 1px solid #696969;
  border-radius: 24px;
  background-color: white;
  margin-right: 4px;
  margin-left: 10px;
  margin-bottom: 16px;
  text-align: center;
}

.btn-answer:focus {
  outline: none;
  background-color: #6495ED;
  color: white;
}

.btn-answer:hover {
  background-color: #F0F8FF;
}

.redact {
  width: 100%;
  border:0;
  background-color: #F0F8FF;
  display:inline-block;
  position:relative;
  margin-bottom:16px;
}

.question-item,
.btn-question-item {
  background-color: transparent;
  border: 0;
}

.question-item {
  width: 100%;
  border: 1px solid #A9A9A9;
  outline: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
}

.btn-question-item {
  padding: 4px 24px 4px 24px;
  border-radius: 24px;
  position:absolute; top: 12px; right:16px;
  border: 1px solid #A9A9A9;
  border: 1px solid #696969;
}

.btn-question-item:focus {
  outline: none;
  background-color: #6495ED;
  color: white;
}

.image {
  padding-top: 20px;
  width: 100%;
  padding-left: 20px;
  height: 190px;
  background-image: url(img/lupine.jpg);
  color: white;
  margin-bottom: 8px;
}

.image-item {
  padding-top: 20px;
}

.icon-image {
  float: right;
  vertical-align: top;
}

.fa-camera-retro {
  float: right;
  padding-right: 20px;
  padding-left: 20px;
}

.btn-arrow {
  vertical-align: middle;
  height: 24px;
  width: 24px;
  float: right;
  border-radius: 100%;
  background-color: #228B22;
  border:none;
  padding: 0;
}

.image-redact {
  padding-top: 20px;
  width: 100%;
  padding-left: 20px;
  height: 190px;
 color: white;
  margin-bottom: 10px;
  background-image: url(img/gray.jpg);
}

.btn-question { 
  margin-bottom: 30px;

}

.btn-save {
  background-color: #228B22;
  float: right;
  margin-right: 20px;
}

.select-file input[type=file] { /*Иконка шага*/
  
}

.add-setting-color {
  padding-top: 8px;
}

.data-setting {
  display: inline-block;
  width: 100%;
}

.title-dead {
  font-size: 16px;
  padding-left: 20px;
  font-weight: normal;
  color: #008B8B;
}

.text-dead {
  width: 100%;
  height: 150px;
  background-color: #F0F8FF;
  margin-top: 8px;
  border:0;
  padding-left: 20px;
  margin-bottom: 10px;
}

.text-dead:focus {
  outline: none;
  border: 1px solid #A9A9A9;
}

.data-item {
  margin-top: 8px;
  height: 50px;
  width: 100%;
  padding-left: 20px;
  background-color: #F0F8FF;
  border:0;
}

.data-item:focus {
  outline: none;
  border: 1px solid #A9A9A9;
}

.spec-menu {
  width: 100%;
  margin-top: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  background-color: #F0F8FF;
  margin-bottom: 16px;
}

.spec-menu:focus {
  outline: none;
  border: 1px solid #A9A9A9;
}

 option {
  padding-bottom: 16px;
  font-weight: normal;
  font-size: 14px;
  color: #708090;
 }

.title-repost {
  height: 100px;
}

.image-last {
  height: 200px;
  width: 220px;
  margin-bottom: 16px;
  background-image: url(img/grass.jpg);
  background-size: 200px 250px;
}

.image-select {
  margin-top: 2px;
  margin-left: 2px;
  width: 180px;
  padding-left: 10px;
  color: #708090;
  border-radius: 5px;
  height: 32px;
  font-size: 13px;
}

.btn-red {
  width: 32px;
  height: 32px;
  background-color: #DC143C;
  border:none;
}

.btn-red:focus {
  outline: none;
  border: 1px solid #A9A9A9;
}

.img-last-item {
  vertical-align: middle;
  margin-bottom: 5px;
}


.color-text {
  color: white;
  text-align: center;
}

.btn-list {
  width: 200px;
  height:200px;
  border: none;
  margin-bottom: 20px;
  background-color: #F0F8FF;
}

.btn-list:focus {
  outline: none;
  border: 1px solid #A9A9A9;
}

/* Футер */

footer {
  width: 100%;
  height: 100px;
  background-color: #808080;
  margin-top: 24px;
 
}

.footer {
  width: 70%;
  margin-right: auto;
  margin-left: auto;


}

.btn-floppy {
  color: #708090;
  margin-top: 30px;
  margin-right: 30px;
}

.btn-run {
  background-color: #FFA500;
  border: 0;
  border-radius: 14px;
  color: #708090;
  width: 120px;
}

.arrow-btn {
  margin-right: 10px
}

.arrow-btn-last {
  margin-left: 10px;
}

.eye-img {
  margin-left: 30px;
  vertical-align: middle;
  margin-right: 30px;
}

.select-footer {
  width: 200px;
  height: 30px;
  border-radius: 14px;
  color: #708090;
  font-size: 13px;
  padding-left: 10px
}

.select-footer {
  outline: none;
  border: 1px solid #A9A9A9;
}



/*
 * Override Bootstrap's default container.
 */

.container {
  max-width: 60rem;
  border:0;
  vertical-align: top;
}



